<!--some manual styling for footer-->
<style>
footer{
background : rgb(49, 86, 189);
text-align: center;
padding: 35px;
margin : 0px;
margin-top :10px;
width : 100%;
}
#icon {
display: inline-block;
font-size: 150%;
text-align: center;
color:#fff;
margin : 2px;
}

</style>

		<footer>
			<!--footer elements with contact details-->
				<p>
					<a href="https://www.linkedin.com/in/nitesh-kumar-kushwaha-62a3601aa/" target="_blank"><i id="icon" class="fab fa-linkedin"></i> </a>
					<a href="https://github.com/Nitesh639" target="_blank"><i id="icon" class="fab fa-github"></i>  </a>
					<a href="https://www.instagram.com/niteshkushwaha651/" target="_blank"><i id="icon" class="fab fa-instagram"></i></a>
					<a href="{% url 'index' %}"><i id="icon" class="fas fa-home"></i></a>
				</p>
				<p style="font-size:80%;color:#fff;">collegejuggad &copy; 2022</p>
		</footer>
<!--js of the fontawesome-->
<script src="https://kit.fontawesome.com/b4c612e342.js" crossorigin="anonymous"></script>